<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Browser">
            <directory>./tests/Browser</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Features</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix="Test.php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PORT" value="5532"/>
        <env name="DB_DATABASE" value="getcontent-testbench"/>
        <env name="DB_CONNECTION" value="pgsql"/>
    </php>
</phpunit>
